@charset "utf-8";

*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
}

img{
  width: 100%;
  object-fit: cover;
}

.background-darkbrown{
  position: relative;
  z-index: -1000;
  vertical-align: bottom;
}

.icon{
  width: 40%;
  position: absolute;
  top: 100px;
  left: 640px;
}

/* hamburger */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: opacity .5s, visibility .5s;
}

.hamburger span {
  width: 100%;
  height: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  transition: ease .4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

.header__hamburger {
  width: 32px;
  position: absolute;
  z-index: 100;
}

.header__nav.active {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: -15px;
  transform: rotate(-45deg);
}

.hamburger {
  background-color: transparent;
  border-color: transparent;
  margin-left: 100px;
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 1200;
}

header li {
  list-style: none;
  color: white;
  font-size: 24px;
  padding: 64px 560px;
}

header a {
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: .3s;
}

header a:hover {
  transform: rotate(-10deg);
}

header ul {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  flex-flow: column;
  padding-top: 32px;
  display: none;
  transition: opacity .5s;
  z-index: -10000;
}

.hu.active {
  display: block;
  background-color: rgba(175, 50, 1, 0.45);
  z-index: 1000;
}

.title{
  position: absolute;
  bottom: -16px;
  right: 160px;
  font-size: 64px;
  color: white;
  font-family: "Comic Sans MS";
}

.title-name{
  position: absolute;
  bottom: -48px;
  right: 160px;
  color: white;
  font-size: 24px;
  font-family: Yu Mincho;
}

/* main */
.background-brown-1{
  position: relative;
  z-index: -1000;
  vertical-align: bottom;
}

.skill{
  position: absolute;
  top: 784px;
  font-size: 36px;
  color: white;
  left: 32px;
  font-family: Yu Mincho;
}

.skills{
  position: absolute;
  display: flex;
  width: 8%;
  height: 8%;
  top: 832px;
  margin: 0 100px;
}

.skill-1{
  margin: 0 8px 0 64px;
}

.skill-2{
  font-size: 36px;
  color: rgb(172, 114, 66);
  font-family: Yu Mincho;
}

.main-profiles{
  position: absolute;
  top: 1000px;
  color: white;
  left: 32px;
}

.main-name{
  font-size: 64px;
  text-align: center;
  font-family: Ms PGothic;
  margin: 24px 0;
}

.name{
  color: rgb(172, 114, 66);
}

.container{
  font-size: 24px;
  text-align: center;
  font-family: Yu Mincho;
}

.hr-1{
  border-top: 2px solid white;
  margin: 24px 120px;
  width: 60%;
}

.main-profile{
  font-size: 24px;
  list-style: none;
  text-align: center;
  font-family: YuGothic;
}

.myphoto{
  position: absolute;
  top: 800px;
  right: 32px;
  z-index: 10000;
}

.services{
  background-image: url(img/P.background-brown.png);
  background-repeat: no-repeat;
  background-size: 112%;
  margin-top: 0;
}

.service{
  color: white;
  text-align: center;
  font-size: 48px;
  font-family: Ms PGothic;
}

.containers-1{
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 16px 10px;
  min-width: 120px;
  max-width: 100%;
  color: black;
  font-size: 24px;
  background: #eee;
  border-radius: 15px;
  left: 32px;
  text-align: center;
  font-family: Yu Mincho;
}

.containers-1:before{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #eee;
}

.containers-1 .container-1{
  margin: 0;
  padding: 0;
}

.containers-2{
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 16px 16px;
  min-width: 120px;
  max-width: 100%;
  color: black;
  font-size: 24px;
  background: #eee;
  border-radius: 15px;
  right: -640px;
  text-align: center;
  font-family: Yu Mincho;
}

.containers-2:before{
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #eee;
}

.containers-2 .container-2{
  margin: 0;
  padding: 0;
}

.service-1{
  color: white;
  font-size: 48px;
  margin: 0 64px;
}

.service-flow{
  color: white;
  font-size: 48px;
  margin: 0 64px;
}

.flowmain{
  display: flex;
}

.numbers{
  display: flex;
}

.number{
  color: white;
  font-size: 48px;
  margin: 0 200px;
}

.flow{
  padding: 16px 16px;
  margin: 16px 64px;
  text-align: center;
  color: black;
  background: #eee;
  background-image: url(img/PC.png);
  background-color: rgba(255, 255, 255, 0.51);
  background-blend-mode: lighten;
  border-top: solid 5px #d48845;
  box-shadow: 0 3px 5px #805d46;
  font-size: 24px;
  width: 50%;
}

.flow .flow-1{
  margin: 0;
  padding: 0;
}

.work{
  color: white;
  font-size: 48px;
  text-align: center;
  padding: 32px 0;
}

.works{
  width: 50%;
  height: 20%;
  overflow-y: scroll;
  scrollbar-color: red;
  scrollbar-width: thin;
}